* {
  margin: 15px 15px 0px 15px;
  padding: 10px;
  border: 0;
}

body {
  background-color: #4CAF50;
}

header {
  background-color: white;
  border-radius: 40px;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

#funcionamento {
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(78, 76, 76);
}

#texto-tarefa {
  border: 1px rgb(15, 167, 255) solid;
  width: 18%;
  margin-left: 2%;
  display: inline-block;
}

#criar-tarefa {
  display: inline-block;
  background-color: rgb(22, 108, 221);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 10%;
  border-radius: 20px;
  cursor: pointer;

}

li {
  margin-top: -10px;
  margin-left: 28px;
  font-size: 24px;
}

.selected {
  background-color: rgb(128, 128, 128);
}

#apaga-tudo{
  display: inline-block;
  background-color: rgb(158, 5, 5);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 14%;
  border-radius: 20px;
  cursor: pointer;
}